<!DOCTYPE html>
<html lang="es" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TransAlpes</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/app.css">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index" ng-controller="navbarCtrl">


    <!-- NAVEGACION -->
    <navbar></navbar>

    <header>
        <p></p>
    </header>
    <!-- LOGIN -->
    <section id="login" lass="text-center" ng-if="!logged()">
        <login-form></login-form>
    </section>


    <!-- PAGINA DE ESTACION -->
    <div ng-if="show('Estacion')">
        <estacion></estacion>
    </div>
    <!-- FIN PAGINA ESTACION -->


    <!-- PAGINA DE VEHICULO -->
    <div ng-if="show('Vehiculo')">
        <vehiculo></vehiculo>
    </div>
    <!-- FIN PAGINA VEHICULO -->

    <!-- PAGINA DE CLIENTE -->
    <div ng-if="show('Cliente')">
        <cliente></cliente>
    </div>
    <!-- FIN PAGINA CLIENTE -->

    <!-- PAGINA DE ADMINISTRADOR -->
    <div ng-if="show('Admin')">
        <admin></admin>
    </div>
    <!-- FIN PAGINA ADMINISTRADOR -->



    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h4>AnaMaria Mojica</h4>
                        <p>ai.mojica10@uniandes.edu.co
                    </div>
                    <div class="footer-col col-md-4">
                        <h4>Laura Cortes</h4>
                        <p>l.cortes10@uniandes.edu.co
                    </div>
                    <div class="footer-col col-md-4">
                        <h4>Samuel S. Salazar</h4>
                        <p>ss.salazar10@uniandes.edu.co
                    </div>
                    <div class="footer-col col-md-4">
                        <h4>Nicolas Castro</h4>
                        <p>n.casro10@uniandes.edu.co
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Proyecto Arquitectura de Sotfware 2015-2
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- Angular -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="angular/app.js"></script>
    <script src="./angular/dirPagination.js"></script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

</body>

</html>
