<!-- ESTACIONES -->
<section id="estaciones" class="text-center">
    <h2>Estaciones</h2>
    <p></p>
    <div class="container" >

        <div class="row">
            <div class="col-lg-8">
                <div ng-controller="estacionCtrl">

                    <div class="row">
                        <div class="col-xs-4">
                            <h3>Pagina: {{ currentPage}}</h3>
                        </div>
                        <div class="col-xs-4">
                            <label for="search">Search:</label>
                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                        </div>
                        <div class="col-xs-4">
                            <label for="search">items per page:</label>
                            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                        </div>
                    </div>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <table class="table table-striped" align="center">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Capacidad</th>
                                        <th>Latitud</th>
                                        <th>Longitud</th>
                                        <th>Disponibilidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  dir-paginate="estacion in estaciones | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                                        <td> {{ estacion.id}} </td> 
                                        <td> {{ estacion.capacidad}} </td> 
                                        <td> {{ estacion.latitud}} </td> 
                                        <td> {{ estacion.longitud}} </td> 
                                        <td> {{estacion.disponibilidad}}</td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>

                <div>
                    <div class="text-center">
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./partials/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- AGREGAR ESTACION -->
<section id="AgregarEstacion" class="text-center">
    <div id="content">

        <h2>Crear estación</h2>
        <form >
            <p>Diponibles Vcubs:  <input type="number"></p>
            <p>Capacidad: <input type="number" ></p>
            <p>Latitud: <input type="number"></p>
            <p>Longitud: <input type="number"></p>
            <input type="submit" value="Agregar" class="btn btn-primary"></p>
        </form>
    </div>
</section>

<!-- REGISTRAR VCUB -->
<section id="RegistrarVcub">
    <div class="text-center">
        <h2>Registrar VCubs</h2>
        <p></p>
        <form>
            <p>Id Vcub: <input type="number"></p>
            <input type="submit" value="Registrar" class="btn btn-primary"></p>
        </form>
    </div>
</section>
