        <!-- VEHICULOS -->
        <section id="vehiculos" class="text-center">
            <h2>Vehiculos</h2>
            <p></p>
            <div class="container" >

                <div class="row">
                    <div class="col-lg-8">
                        <div ng-controller="vehiculoCtrl">

                            <div class="row">
                                <div class="col-xs-4">
                                    <h3>Pagina: {{ currentPage}}</h3>
                                </div>
                                <div class="col-xs-4">
                                    <label for="search">Search:</label>
                                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                </div>
                                <div class="col-xs-4">
                                    <label for="search">items per page:</label>
                                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <table class="table table-striped" align="center">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>tipo</th>
                                                <th>estado</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr  dir-paginate="vehiculo in vehiculos | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                                                <td> {{ vehiculo.id}} </td> 
                                                <td> {{ vehiculo.tipo}} </td> 
                                                <td> {{ vehiculo.estado}} </td> 

                                            </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="text-center">
                                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./partials/dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- AGREGAR VEHICULO -->
        <section id="agregarVehiculo" lass="text-center" ng-controller="vehiculoCtrl">
            <div class="text-center">
                <h2>Agregar vehiculo</h2>
                <p></p>
                <form>
                    <p>Tipo: 
                        <select ng-model="vehiculo.tipo">
                            <option value="Vcub">Vcub</option>
                            <option value="Mobibus">Mobibus</option>
                            <option value="Tranvia">Tranvia</option>
                        </select>
                    </p>
                    <p>Estado: <input type="text" ng-model="vehiculo.estado"></p>
                    <div ng-if="vehiculo.tipo === 'Vcub'">
                        <p>Color: <input type="text"></p>
                    </div>
                    <div ng-if="vehiculo.tipo === 'Mobibus'">
                        <p>personas pie: <input type="number" ng-model="vehiculo.personasPie" min="1"></p>
                        <p>personas discapacitadas: <input type="number" ng-model="vehiculo.personasDiscapacitadas" min="1"></p>
                    </div>
                    <div ng-if="vehiculo.tipo === 'Tranvia'">
                        <p>Linea: 
                            <select ng-model="vehiculo.linea">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </p>
                    </div>
                    <input type="submit" value="Agregar" class="btn btn-primary"></p>
                </form>
            </div>
        </section>
