<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h1> CLIENTE </h1>
<script type="text/javascript" src="..\js\AngularControllers\clienteCtrl.js"></script>
 <div id="content_header"></div>
            <div id="site_content">
                <div class="sidebar">
                    <!-- insert your sidebar items here -->
                    <h3>Pedir reservas</h3>
                    <form ng-controller="clienteCtrl" ng-submit="darReservasCliente()">
                        <p class="submit"><input type="submit"  value="Dar reservas"></p>
                    </form>
                    
                    <h4>Reservar</h4>
                    <form  ng-submit="reservar()" ng-controller="clienteCtrl">
                        <p>Fecha<input type="date" ng-model="fecha" name="fecha" value="" placeholder=""></p>
                        <p>Tipo<input type="tipo" ng-model="tipo" name="tipo" value="" placeholder=""></p>
                        <p class="submit"><input type="submit"  value="Reservar"></p>
                    </form>

                    <p></p>
                    <h4>Eliminar reserva</h4>  
                    <form ng-controller="clienteCtrl" ng-submit="eliminarReserva()">
                        <p>Id reserva<input type="text" ng-model="idReserva" name="id" value="" placeholder=""></p>
                        <p class="submit"><input type="submit" name="commit" value="Eliminar"></p>
                    </form>
                </div>

            </div>

            <div id="content_footer"></div>
            <div id="footer">
            </div>