<!DOCTYPE HTML>
<html ng-app="Transalpes">

    <head>
        <title>Estacion</title>
        <meta name="description" content="website description" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
       
    </head>

    <body>
         <link rel="stylesheet" type="text/css" href="style/style.css" />
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/Angularcontrollers/app.js"></script>
        <div id="main">
            <div id="header">
                <div id="logo">
                    <div id="logo_text">
                        <!-- class="logo_colour", allows you to change the colour of the text -->
                        <h1><a href="index.html"><span class="logo_colour"></span></a></h1>
                        <h2></h2>
                    </div>
                </div>
                <div id="menubar">
                    <ul id="menu">
                        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                        <li><a href="index.html">Cliente</a></li> 
                        <li class="selected"><a href="estacion.html">Estaciones</a></li>
                        <li><a href="Informes.html">Informe</a></li>
                        <li><a href="vehiculo.html">Vehiculo</a></li>
                    </ul>
                </div>
            </div>
            <div id="content_header"></div>
            <div id="site_content">
                <div class="sidebar">
                    <!-- insert your sidebar items here -->
                    <h3>Pedir estacion</h3>
                    <form ng-controller="estacionCtrl" ng-submit="darEstacion()">
                        <p>Id estacion<input type="text" ng-model="idEstacion" ></p>
                        <p class="submit"><input type="submit"  value="pedir"></p>
                    </form>
                    <p></p>

                    <h4>Pedir estaciones</h4>
                    <form ng-controller="estacionCtrl" ng-submit="darEstaciones()">

                        <input type="submit"  value="Dar estaciones">
                    </form>

                    <p></p>
                    <h4>Dar disponibilidad estación</h4>  
                    <form ng-controller="estacionCtrl" ng-submit="darDisponibilidadEstacion()">
                        <p>Id estacion<input type="text" ng-model="idEstacion" name="id" value="" placeholder=""></p>
                        <p class="submit"><input type="submit" name="commit" value="Go"></p>
                    </form>

                </div>
                <div id="content">
                    <!-- insert the page content here -->
                    <h1>Estacion</h1>
                    <p>Aca se podran crear, registrar, en el sistema estaciones las cuales constaran con una  capacidad, una ubicacion dada por una latitud, una
                        longitud y la cantidad de Vcubs disponibles.</p>

                    <h2>Crear estación</h2>
                    <form method="post" action="http://localhost:9090/estaciones ">
                        <p>Diponibles Vcubs:  <input type="number" name="disponibles" value="" placeholder=""></p>
                        <p>Capacidad: <input type="number" name="capacidad" value="" placeholder=""></p>
                        <p>Latitud: <input type="number" name="latitud" value="" placeholder="-12"></p>
                        <p>Longitud: <input type="number" name="longitud" value="" placeholder="64" align="center"></p>
                        <p class="submit"><input type="submit" name="commit" value="Crear"></p>
                    </form>

                    <h2>Registrar VCubs</h2>
                    <form method="post" action="http://localhost:9090/estaciones/:id/vcub ">
                        <p>Id estación:   <input type="number" name="id" value="" placeholder=""></p>
                        <p class="submit"><input type="submit" name="commit" value="Actualizar"></p>
                    </form>

                </div>
            </div>
            <div id="content_footer"></div>
            <div id="footer">
            </div>
        </div>
    </body>
</html>
