<h1> ESTACION </h1>
<script type="text/javascript" src="js/Angularcontrollers/app.js"></script>
 <div id="content_header"></div>
            <div id="site_content">
                <div class="sidebar">
                    <!-- insert your sidebar items here -->
                    <h3>Pedir estacion</h3>
                    <form ng-controller="estacionCtrl" ng-submit="darEstacion()">
                        <p>Id estacion<input type="text" ng-model="idEstacion" ></p>
                        <p class="submit"><input type="submit"  value="pedir"></p>
                    </form>
                    <p></p>

                    <h4>Pedir estaciones</h4>
                    <form  ng-submit="darEstaciones()" ng-controller="estacionCtrl">

                        <input type="submit"  value="Dar estaciones">
                    </form>

                    <p></p>
                    <h4>Dar disponibilidad estacion</h4>  
                    <form ng-controller="estacionCtrl" ng-submit="darDisponibilidadEstacion()">
                        <p>Id estacion<input type="text" ng-model="idEstacion" name="id" value="" placeholder=""></p>
                        <p class="submit"><input type="submit" name="commit" value="Go"></p>
                    </form>

                </div>
                <div id="content">
                   

                    <h2>Crear estacion</h2>
                    <form method="post" action="http://localhost:9090/estaciones ">
                        <p>Diponibles Vcubs:  <input type="number" name="disponibles" value="" placeholder=""></p>
                        <p>Capacidad: <input type="number" name="capacidad" value="" placeholder=""></p>
                        <p>Latitud: <input type="number" name="latitud" value="" placeholder="-12"></p>
                        <p>Longitud: <input type="number" name="longitud" value="" placeholder="64" align="center"></p>
                        <p class="submit"><input type="submit" name="commit" value="Crear"></p>
                    </form>

                    <h2>Registrar VCubs</h2>
                    <form method="post" action="http://localhost:9090/estaciones/:id/vcub ">
                        <p>Id estacion:   <input type="number" name="id" value="" placeholder=""></p>
                        <p class="submit"><input type="submit" name="commit" value="Actualizar"></p>
                    </form>

                </div>
            </div>
            <div id="content_footer"></div>
            <div id="footer">
            </div>